body {
	font-size: 19px;
	font-weight: 300;
	font-family: 'Neuton', Georgia, sans-serif;
	background-color: @light-neutral;
}

h1, h2, h3, h4, h5, h6, nav {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-weight: 300;
}
.container .row {
	padding: 40px;
}

.toll-num {
	font-family: 'Lato', Helvetica, Arial, sans-serif!important;
	font-weight: 300;
}

p {
	font-size: 19px;
}

.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a {
	background-color:@cta-two!important;
}
header li, .sidebar ul li, .second-sidebar ul li {
	list-style: none;
}

a {
	color: @dark-neutral;
	text-decoration: none;

	&:hover {
		text-decoration: none;
		color:@cta-one;
	}
}

.thumbnail {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	&.service {
		width: 80px;
		height: 80px;
	}
	&.profile {
		width: 150px;
		height: 150px;
	}
}

.full-width {
	width: 100%;
}

form label, button{
	font-family: 'Lato', Helvetica, Arial, sans-serif;
}

.button {
	background-color: @cta-two;
	border: none;
	padding: 5px 8px;
	border-radius: 2px;
	color: white;
	text-transform: uppercase;
	font-family: 'Lato', Helvetica, Arial, sans-serif;

	&:hover {
		background-color: @cta-one;
	}
}