@import url(http://fonts.googleapis.com/css?family=Neuton:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Lato:300);

@main-neutral: #BDBDBD;
@dark-neutral: #58585A;
@light-neutral: #f2f2f2;
// gold
@cta-one: #e6a100;
// red
@cta-two:#A80545;

// Glyphicons path
// -------------------------

// @icon-font-path:        "../vendor/bootstrap/fonts/";
