footer {
	text-align: center;
	position: relative;
	background-color: @main-neutral;
	color: black;
	padding: 40px 40px 10px 40px;

	a {
		color: @light-neutral!important;
		&:hover {
			color: @cta-one!important;
		}
	}
}

.blog-feed {
	text-align: left;
	margin-bottom: 40px;

	img {
		max-width: 100%;
	}
	h2 {
		margin-top: 0;
	}

}

#footer-brand {
	max-width: 30%;
	margin: 10px auto 20px auto;

	img {
		max-width: 100%;
	}
}

#more-info {
	position: absolute;
	right: 30px;
	bottom: 25px;
	font-size: 14px;
	a {
		margin-left: 15px;
	}

	@media all and (max-width: 500px) {
		position: initial;
		display: block;
		right: initial;
		bottom: initial;
	}
}