header {
	a {
		color: black;
	}
}

nav {
	padding-top: 40px;
}

.navbar-brand {
	img {
		max-width: 300px;
		margin-top: -50px;
	}
	@media all and (max-width: 400px) {
		img {
			max-width: 200px;
		}
	}
}

#header-phone {
	position: absolute;
	top: 20px;
	right: 30px;
	@media all and (max-width: 400px) {
		top: 5px;
		right: 10px;
	}
}
.dropdown {
	position: relative;
}

.dropdown-menu {
	display: none;
	width: 180px;

	li {
		display: block;
		width: 180px;
		text-align: left;
		&:hover a {
			color: @cta-one;
		}
		a {
			padding: 5px;
		}
	}
}

.dropdown:hover {
	.dropdown-menu {
		display: inline-block;
	}
}