// home
h3.info {
	text-align: center;
	margin: 60px auto;
	clear: both;
	padding: 30px 0 0 0;
}
.service-home {
	img {
		max-width: 100%;
	}
}

.about-people {
	.left, .right {
		display: inline-block;
		vertical-align: top;
		margin-bottom: 45px;
	}
	.left {
		span {
			display: block;
		}
	}
	.right {
		h4 {
			margin-top: 0;
		}
	}
}

// single service

.single-service .main-content{
	img {
		max-width: 300px;
		display: block;
		margin: 20px auto;
	}
}

// case studies

.media:nth-child(2n) {
	margin-bottom: 40px;

	.col-md-3 {
		float: right;
		img {
			max-width: 100%;
		}
	}
	.col-md-6 {
		float: left;
	}

	h4 {
		margin: 20px 0;
	}
}

// blog

.blog-wrapper {
	margin-right: 4%;
}
.col-md-3 img {
	max-width: 100%;
}

.blog-post-preview {
	margin-bottom: 20px;
	h2 {
		margin-top: 0;
	}
}

.sidebar {
	h3 {
		font-size: 16px;
	}
	ul {
		padding-left: 10px;
	}
}

// default template

div.second-sidebar, div.main-content {
	display: inline-block;
	vertical-align: top;
}

.main-content {
	margin-right: 4%;

	h3 {
		margin: 20px 0;
	}

	a {
		color: @dark-neutral;
		&:hover {
			color: @cta-one;
		}
	}
}

h2.main-header {
	padding-bottom: 20px;
}